
.save {
    border: none;
    outline: none;
    border-radius: 5px;
    letter-spacing: 0.7px;
    background-color: #ffd3d3;
    color: #606060;
    cursor: pointer;
    box-shadow: rgb(0 9 61 / 12%) 0px 4px 8px 0px;
    padding: 8px;
}
.save:hover {
    background-color: #ffe8e8;
}

.delete {
    background-color: #e4c3f7;
    border: none;
    outline: none;
    border-radius: 5px;
    letter-spacing: 0.7px;
    color: #606060;
    cursor: pointer;
    box-shadow: rgb(0 9 61 / 12%) 0px 4px 8px 0px;
    padding: 8px;
    /* margin: 0px 5px; */
}
.delete:hover {
    background-color: #ead5f7;
}
.action-button-container {
    display: flex;
}

.many-button {
    display: flex;
    margin: 0px 5px;
}

.expand {
    border: none;
    outline: none;
    border-radius: 0 6px 6px 0;
    letter-spacing: 0.7px;
    background-color: #c1c1c1;
    color: #606060;
    cursor: pointer;
    /* box-shadow: rgb(0 9 61 / 12%) 0px 4px 8px 0px; */
    padding: 8px;
    width: 50px;
}

.component-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-menu {
    flex-shrink: 0;
    font-size: 14px;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.text-data {
    display: flex;
    margin-top: 5px;
    justify-content: flex-end;
}

.text-data>span {
    white-space: nowrap;
    border-radius: 6px 0 0 6px;
    /* text-align: center; */
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.field {
    margin-left: -1px;
    padding: 3px 10px;
    /* line-height: 25px; */
    font-size: 14px;
    font-weight: 500;
    /* font-family: inherit; */
    border-radius: 0 6px 6px 0;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
    width: 100%;
}



.field:focus {
    outline: none;
    border-color: var(--input-border-focus);
}

input[type="file"] {
    display: none;
}
